.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./mountains-1412683_1280.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 72px;
  margin-bottom: 250px;
}
